{
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",

  "emotionOrderConfigPath": ".emotionorderrc",
  "emotionOrderSeperation": true,
  "emotionOrderTextVisible": false,
  "emotionOrderUndefinedPosition": "back",
  "emotionOrderUndefinedSortMethod": "alpha",

  "emotionOrderDefaultCategoryEnable": true,
  "emotionOrderDefaultCategoryAddMode": "append",
  "emotionOrderDefaultCategoryConflictPosition": "auto",
  "emotionOrderDefaultCategoryConflictResolution": "merge",
  "emotionOrderDefaultCategoryStyleAddMode": "prepend",
  "emotionOrderDefaultCategoryConflictStylePosition": "auto",
  "emotionOrderDefaultCategoryConflictTextResolution": "replace",

  "emotionOrderNestedSeperation": true,
  "emotionOrderNestedIndexSortMethod": "ascend",
  "emotionOrderNestedUndefinedPosition": "front",
  "emotionOrderNestedUndefinedSortMethod": "alpha",

  "emotionOrderCaseInsensitiveStyle": true,
  "emotionOrderCaseInsensitiveNested": true,

  "importOrder": [
    "^@ts/(.*)$",
    "^@base/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@router/(.*)$",
    "^@layout/(.*)$",
    "^@common/(.*)$",
    "^@recoils/(.*)$",
    "^@constants/(.*)$",
    "^@components/(.*)$",
    "^@controllers/(.*)$",
    "^@styles/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-css-order", "@trivago/prettier-plugin-sort-imports"]
}
