{
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "emotionOrderConfigPath": ".emotionorderrc",
	"emotionOrderSeperation": true,
	"emotionOrderDefaultCategoryEnable": true,
	"emotionOrderNestedSeperation": true,
	"emotionOrderTextVisible": false,
	"emotionOrderUndefinedPosition": "back",
	"emotionOrderUndefinedSortMethod": "alpha",
  "importOrder": [
    "^@ts/(.*)$",
    "^@base/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@router/(.*)$",
    "^@layout/(.*)$",
    "^@common/(.*)$",
    "^@recoils/(.*)$",
    "^@constants/(.*)$",
    "^@components/(.*)$",
    "^@controllers/(.*)$",
    "^@styles/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-css-order", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-emotion-order"]
}
