@font-face {
  src:
    local('Pretendard'),
    url('/fonts/PretendardVariable.woff2') format('woff2');
  font-family: 'Pretendard';
  font-display: swap;
}

@font-face {
  src:
    local('PretendardBlack'),
    url('/fonts/Pretendard-Black.woff2') format('woff2');
  font-family: 'PretendardBlack';
  font-display: swap;
}

:root {
  color-scheme: light dark;
  font-weight: 400;
  line-height: 1.5;
  font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: 100%; /* IE */
  -moz-text-size-adjust: 100%; /* 파이어폭스 */
  -o-text-size-adjust: 100%; /* 오페라 구버전 */

  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
}

/* html,
body {
  height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
} */

html {
  margin: 0px;
  zoom: 1; /* 기본 줌 설정 */
}

body {
  display: flex;

  justify-items: center;

  margin: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  overscroll-behavior: contain;
}
