@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@font-face {
  font-family: 'Pretendardaaa';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Shadows';
  src: url(https://fonts.gstatic.com/s/singleday/v17/LYjHdGDjlEgoAcF95EI5jV9tRtXRM_vAklfi4DzhOchwatn58A.0.woff2) format('woff2');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
